* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(206, 224, 224);
}

header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

header > img {
    margin-left: 5px;

}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
  
 nav > ul > li {
    color: #171718;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}
  
nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}
  
li > a {
    color: inherit;
    text-decoration: none;
}

.intro-section{
    font-size: 30px;
    text-align: center;
    margin-top: 80px; 
}
h1{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;  
}
.news-flash{
    margin-top: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
.article-section {

    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    margin: 30px auto;
}

.articles {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    gap: 20px;
    max-width: 25vw;
  }

.articles > h2{
    font-size: 20px;
    text-align: center;
 
}

.articles > p{
    font-size: 15px;
    text-align: center;
}

  footer {
    color: #0f25a1;
    text-align: center;
    padding: 10px;
}
