* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(206, 224, 224);
}

.intro-section{
    font-size: 30px;
    text-align: center;
    margin-top: 30px; 
}
h1{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;  
}
.news-flash{
    margin-top: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
.article-section {

    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    margin: 30px auto;
}

.articles {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    gap: 20px;
    max-width: 25vw;
  }

.articles > h2{
    font-size: 20px;
    text-align: center;
 
}

.articles > p{
    font-size: 15px;
    text-align: center;
}

  footer {
    color: #0f25a1;
    text-align: center;
    padding: 10px;
}
