* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(228, 237, 237);
}

body {
    font-family: Arial, sans-serif;
}

header h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.intro-section {
    font-size: 30px;
    text-align: center;
    margin-top: 30px; 
}

.news-flash {
    margin-top: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.article-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 30px auto;
    max-width: 1200px;
}

.articles {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.articles img {
    max-width: 100%;
    height: auto;
}

.articles > h2 {
    font-size: 20px;
    text-align: center;
}

.articles > p {
    font-size: 15px;
    text-align: center;
}

footer {
    color: #0f25a1;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.news-flash p {
    margin: 0;
    padding: 10px;
}